<header class="main-header">
    <nav class="main-header__nav">
        <ul class="main-header__item-list">
            <li class="main-header__item"><a class="<%= path === '/' ? 'active' : '' %>" href="/">Garden</a>
            </li>
            <li class="main-header__item">
                <a class="<%= path === '/admin' ? 'active' : '' %>" href="/admin">Control Room</a>
            </li>
        </ul>
    </nav>
</header>